doctype html
html(lang='en')
	head
		include ./mixins/head
		+head(0)
	body
		|
		include ./mixins/header
		|
		+header('Зарегистрироваться', '/register')
		div.container
			div.row
				div.col-md-6.highlight.col-md-offset-3
					h1 Войти
					form.col-md-12(role='form', action="/login",method="post")
						.form-group
							input.form-control(type='text', name="username", placeholder='Введите nickname', autofocus)
						.form-group
							input.form-control(type='text', name="password", placeholder='Введите пароль')

						button.btn.btn-primary(type='submit') Войти

		|
		|
		|
		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		// Include all compiled plugins (below), or include individual files as needed
		script(src='js/bootstrap.min.js')
